{% extends 'news::layouts.default' %}

{% block content %}

	<div class="container">
		<div class="row">

			<section class="col-xs-12 col-sm-12 col-md-8">

				{{ include('news::common.breadcrumb') }}

				{% if auth.check %}
					<a href="{{ route('news.create', [], false) }}" class="btn btn-success pull-right">
						<i class="icon-plus" aria-hidden="true"></i>
						<span>{{ trans('news::post.page.index.btn_post_create') }}</span>
					</a>
				{% endif %}

				<h1 class="h1 page-header">{{ category_name }}</h1>

				{% if msg -%}
					{% import 'news::common.macros.alert_success' as alert_success %}
					{{ alert_success.alert(msg) }}
				{% endif %}

				{% if errors.any %}

					{% import 'news::common.macros.alert_error' as alert_error %}

					{% for error in errors.all %}
						{{ alert_error.alert(error) }}
					{% endfor %}
				{% endif %}

				{% if posts_paginate.isNotEmpty -%}
					<div id="news-all" class="news-all-extend" data-current="{{ current_route }}"
						 data-url-post-delete="{{ route('api.post_destroy', [], false) }}">

						{% import 'news::post.macro_post_short_extend' as post_template %}

						{% for post in posts_paginate -%}
							{{ post_template.extend(post) }}
						{% endfor -%}
					</div>
				{% else %}
					{{ include('news::common.alert_warning', {message: trans('news::post.result_is_empty')}) }}
				{% endif %}

				{% if posts_paginate.previousPageUrl or posts_paginate.nextPageUrl -%}
					{% import 'news::common.pagination.macro_paginator' as pagination %}
					{{ pagination.navigation(posts_paginate, route('api.post_pagination.news', [], false)) }}
				{% endif %}

			</section>

			<aside class="col-xs-12 col-sm-12 col-md-4">

				{{ include('news::common.tags_list') }}

			</aside>
		</div>
	</div>

{% endblock %}

{% block footer_tpl %}
	{% include('news::post.template_js_post_short') %}
	{% include('news::common.pagination.template_js_pages') %}
	{% include('news::common.pagination.template_js_btn_next_empty') %}
	{% include('news::common.pagination.template_js_btn_next_link') %}
	{% include('news::common.pagination.template_js_btn_prev_empty') %}
	{% include('news::common.pagination.template_js_btn_prev_link') %}
{% endblock %}