{% macro popular(post, loop) %}
	<section class="clearfix post-list__item" itemscope
			 itemtype="http://schema.org/NewsArticle">
		<a rel="index" href="{{ post.url }}"
		   class="post-list__img-w{% if loop.index0 % 4 == 0 -%} post-list__img-w_large"{% endif %}
		   itemprop="url">
			<img src="{{ asset('vendor/news-crud/img/no-image.jpg') }}"
				 alt="{{ post.name }}" class="post-list__img" itemprop="image">
		</a>
		<a rel="index" href="{{ post.url }}" class="post-list__url-title">
			<h3 class="h4">
				<span class="post-list__title" itemprop="name">{{ post.name }}</span>
			</h3>
		</a>
		{% for tag in post.tags %}
			<ul class="tags-list tags-list_inline">
				<li class="tags-list__item">
					<a rel="tag" href="{{ tag.url }}" class="tag">{{ tag.name }}</a>
				</li>
			</ul>
		{% endfor %}
		{% if loop.index0 % 4 != 0 -%}
			<p class="post-list__summary" itemprop="description">{{ post.summary }}</p>
		{% endif %}
		<p class="post-list__m text-muted">
			<meta itemprop="datePublished"
				  content="{{ post.published_at.toIso8601String() }}">
			<time>{{ post.published_at.format(trans('news::config.date')) }}</time>
			<span itemprop="author" title="{{ trans('news::post.article.author') }}">{{ post.author.name }}</span>
		</p>
	</section>
{% endmacro popular %}